:root {
    --mainColor: #eaeaea;
    --secondaryColor: #ffffff;
    --borderColor: #c1c1c1;
    --mainText: black;
    --secondaryText: #4b5156;
    --themeDotBorder: #060313;
    --previewBg: rgba(238, 236, 227, 0.733);
    --previewShadow: #f0ead6;
}

html,
body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #318285;
}

.s1 {
    border-bottom: 1px solid var(--borderColor);
    background-color: var(--mainColor);
    overflow: auto;
}

.s2 {
    border-bottom: 1px solid var(--borderColor);
    background-color: var(--secondaryColor);
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper {
    display: grid;
    min-height: 10em;
    text-align: center;
    align-content: center;
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'nav-wrapper nav-wrapper' 'left-column right-column';
}

.nav-wrapper {
    border-bottom: 1px solid var(--borderColor);
    grid-area: nav-wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
    background-color: var(--mainColor);
    height: 45px;
}

.dots-wrapper {
    display: flex;
}

.right-column {
    grid-area: right-column;
    display: grid;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 80px;
}

#preview-shadow {
    width: 300px;
    height: 180px;
    padding: 30px 15px 15px 30px;
    background-color: var(--previewShadow);
}

#preview {
    width: 300px;
    border: 2px solid #24b4ad;
    background-color: var(--previewBg);
    padding: 15px;
    position: relative;
}

.corner {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid #24b4ad;
    background-color: #ffffff;
    position: absolute;
}

#corner-t1 {
    top: -5px;
    left: -5px;
}

#corner-t2 {
    top: -5px;
    right: -5px;
}

#corner-b1 {
    bottom: -5px;
    left: -5px;
}

#corner-b2 {
    bottom: -5px;
    right: -5px;
}

.left-column {
    grid-area: left-column;
    padding: 50px 0 50px 0;
}

#profile-pic {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}

#theme-wrapper {
    display: flex;
    justify-content: center;
}

.theme-dot {
    background-color: black;
    height: 30px;
    width: 30px;
    border: 2px solid var(--themeDotBorder);
    border-radius: 50%;
    margin: 5px;
    transition: 0.2s all;
}

.theme-dot:hover {
    border-width: 5px;
    cursor: pointer;
}

#light-mode {
    background-color: var(--secondaryColor);
}

#blue-mode {
    background-color: #1859d3;
}

#green-mode {
    background-color: #2ed466;
}

#purple-mode {
    background-color: #902be2;
}

#setting-note {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.browser-dots {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
}

#navigation {
    padding: 10px;
    margin: 0;
}

#navigation li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

#dot-1 {
    background-color: #ff1919;
}

#dot-2 {
    background-color: #e2b625;
}

#dot-3 {
    background-color: #0cbe1b;
}

.about-wrapper {
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-bottom: 50px;
    padding-top: 50px;
}

.social-wrapper {
    display: grid;
    align-content: center;
    text-align: center;
}

#social-img {
    width: 100%;
}

#skills {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--previewShadow);
}

.posts-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: space-between;
    gap: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.post {
    border: 1px solid var(--borderColor);
}

.post-thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.post-preview {
    padding: 15px;
    background-color: #ffffff;
}

.post-title {
    color: #000000;
    margin: 0;
}

.post-intro {
    font-size: 18px;
    color: #4b5156;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}

@media screen and (max-width: 800px) {
    .intro-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas: 'nav-wrapper' 'left-column' 'right-column';
    }
    .right-column {
        justify-content: center;
    }
}

.intro-wrapper,
.theme-dot,
.browser-dots,
.post {
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}