:root {
    --mainColor: #eaeaea;
    --secondaryColor: #ffffff;
    --borderColor: #c1c1c1;
    --mainText: black;
    --secondaryText: #4b5156;
    --themeDotBorder: #060313;
}

html,
body {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 56px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #234849;
}

.s1 {
    border-bottom: 1px solid var(--borderColor);
    background-color: var(--mainColor);
    overflow: auto;
}

.s2 {
    border-bottom: 1px solid var(--borderColor);
    background-color: var(--secondaryColor);
    overflow: auto;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

.greeting-wrapper {
    display: grid;
    min-height: 10em;
    text-align: center;
    align-content: center;
}

.intro-wrapper {
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'nav-wrapper nav-wrapper' 'left-column right-column';
}

.nav-wrapper {
    border-bottom: 1px solid var(--borderColor);
    grid-area: nav-wrapper;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
    background-color: var(--mainColor);
    height: 45px;
}

.intro-wrapper,
.theme-dot,
.browser-dots {
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.dots-wrapper {
    display: flex;
}

.right-column {
    grid-area: right-column;
}

.left-column {
    grid-area: left-column;
    padding: 50px 0 50px 0;
}

#profile-pic {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}

#theme-wrapper {
    display: flex;
    justify-content: center;
}

.theme-dot {
    background-color: black;
    height: 30px;
    width: 30px;
    border: 2px solid var(--themeDotBorder);
    border-radius: 50%;
    margin: 5px;
    transition: 0.2s all;
}

.theme-dot:hover {
    border-width: 5px;
    cursor: pointer;
}

#light-mode {
    background-color: var(--secondaryColor);
}

#blue-mode {
    background-color: #1859d3;
}

#green-mode {
    background-color: #2ed466;
}

#purple-mode {
    background-color: #902be2;
}

#setting-note {
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.browser-dots {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
}

#navigation {
    padding: 10px;
    margin: 0;
}

#navigation li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
}

#dot-1 {
    background-color: #ff1919;
}

#dot-2 {
    background-color: #e2b625;
}

#dot-3 {
    background-color: #0cbe1b;
}

@media screen and (max-width: 1200px) {
    .main-container {
        width: 95%;
    }
}